swagger: "2.0"
info:
  version: "1.0.0"
  title: "Pump Monitor"
host: "redhat.com"
basePath: "/v2"
schemes:
  - "https"
paths: {}
definitions:
  SensorData:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      pumpId:
        type: "integer"
        format: "int64"
      timestamp:
        type: "integer"
        format: "int64"
      type:
        type: "string"
        description: "Type of measurement"
      value:
        type: "integer"
        format: "int64"
      units:
        type: "string"
    xml:
      name: "SensorData"
  ControlData:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      pumpId:
        type: "integer"
        format: "int64"
      timestamp:
        type: "integer"
        format: "int64"
      type:
        type: "string"
        description: "Type of input"
      value:
        type: "integer"
        format: "int64"
      units:
        type: "string"
      source:
        type: "string"
        description: "source of control"
    xml:
      name: "ControlData"
  PumpStatus:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      pumpId:
        type: "integer"
        format: "int64"
      timestamp:
        type: "integer"
        format: "int64"
      status:
        type: "string"
    xml:
      name: "PumpStatus"
  Pump:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      latitude:
        type: "number"
        format: "float"
      longitude:
        type: "number"
        format: "float"
    xml:
      name: "Pump"
